*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# folders
src/nbproject/private
src/build
src/store
src/crash-reports
src/logs
src/dist
logs

# mc
minecraft*jar
/world

# aws
.env
s3storage.properties
